@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  /* Layout */
  --bp-mobile: 375px;
  --bp-desktop: 1440px;

  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);

  /* Typography */
  --font-size-body: 15px;

  /* Font Families */
  --font-alata: 'Alata', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;

  /* Font Weights */
  --font-weight-alata: 400;
  --font-weight-josefin-sans: 300;
}

$breakpoints: (
  'small': var(--bp-mobile),
  'large': var(--bp-desktop),
);

@mixin breakpoint($size) {
  $breakpoint: map-get($breakpoints, $size);
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint: #{$size}";
  }
}
